body{
		color: #49647b;
}

.container{
	margin: auto;
	max-width: 100%;
	width: 100%;
}

.hero{
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: 1px #49647b solid;
	text-align: center;
}

.headerTitle{
	font-size: 3rem;
}

.headerTitle, .headerSubtitle{
	color: #49647b;
}

.noteContainer{
	width: 90%;
	max-width: 1300px;
	text-align: center;
}

.note{
	margin: 25px auto;
	display: inline-block;
}

.noteTitle{
	font-size: 1.65rem;
	margin-bottom: 1rem;
	color: #49647b;
}

.noteBody{
	padding-bottom: 17px;
}

.box{
 	margin: 3%;
 	box-shadow: 0 2px 3px rgba(7, 81, 173, 0.2), 0 0 0 1px rgba(114, 125, 134, 0.1);
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.button{ 
	color: #49647b; 
}

/*Modal*/
.modal{
	display: none;
}

/*Form*/

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea.is-focused, .textarea:focus, .textarea:active, .textarea.is-active{
	border-color: #459FF0;
}