body, .button, .headerTitle, .headerSubtitle, .label, .noteTitle, .modal-card-title{
	color: #49647b;
}
.noteTitle, .headerTitle{
	color: #1975d2
}


.container{
	margin: auto;
	max-width: 100%;
	width: 100%;
}

.hero{
	border-bottom: 1px #1975d2 solid;
	text-align: center;
	background-color: #fbfbfb;
}

.headerTitle{
	font-size: 3rem;
}



.noteContainer{
	width: 90%;
	max-width: 1300px;
	text-align: center;
}

.note{
	margin: 25px auto;
	display: inline-block;
	background-color: #fbfbfb;
}

.deleteButton{
	float: right;
}

.noteTitle{
	font-size: 1.65rem;
	margin-bottom: 1rem;
}

.noteBody{
	padding-bottom: 17px;
}

.box{
 	margin: 3%;
 	box-shadow: 0 2px 3px rgba(7, 81, 173, 0.2), 0 0 0 1px rgba(114, 125, 134, 0.1);
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.button{ 
	background-color: #fbfbfb;
}

/*Modal*/
.modal{
	display: none;
}

/*Form*/

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea.is-focused, .textarea:focus, .textarea:active, .textarea.is-active{
	border-color: #459FF0;
}